<% provide(:title, "Reset Password") %>

<h1>Reset Password</h1>

<div class="row">
	<div class = 'col-md-6 col-md-offset-3'>
	<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= hidden_field_tag :email, @user.email %>

		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>

		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>

		<%= f.submit "Update password", class: "btn btn-primary" %>
	<% end %>
	</div>
</div>