<%= form_for(@micropost, html: {multipart: true} ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

<% end %>


<script type="text/javascript">

function convert_mb_to_bytes(n) {
	return n*1024*1024;
}

$('#micropost_picture').bind('change', function() {
	var size_in_bytes = this.files[0].size;
	if(size_in_bytes > convert_mb_to_bytes(5)) {
		alert('Maximum size allowed is 5 MB. Please choose a smaller file.');
	}
})
</script>