<footer class="footer">
  <small>
    A <a href="http://www.railstutorial.org/">Ruby on Rails</a> application
    by <a href="http://www.michaelhartl.com/">Vishal Antony</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_url %></li>
      <li><%= link_to "Contact", contacto_url %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>